<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the natural_init() hook (in hooks/natural.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="natural-VcrId-<%%VALUE(VcrId)%%>" class="natural-VcrId text-right"><%%SELECT%%><%%VALUE(VcrId)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrCodForm-<%%VALUE(VcrId)%%>" class="natural-VcrCodForm"><%%SELECT%%><%%VALUE(VcrCodForm)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdSol-<%%VALUE(VcrId)%%>" class="natural-VcrIdSol"><%%SELECT%%><%%VALUE(VcrIdSol)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrFecVis-<%%VALUE(VcrId)%%>" class="natural-VcrFecVis"><%%SELECT%%><%%VALUE(VcrFecVis)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrNomAti-<%%VALUE(VcrId)%%>" class="natural-VcrNomAti"><%%SELECT%%><%%VALUE(VcrNomAti)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdTip-<%%VALUE(VcrId)%%>" class="natural-VcrIdTip"><%%SELECT%%><%%VALUE(VcrIdTip)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrNoIde-<%%VALUE(VcrId)%%>" class="natural-VcrNoIde"><%%SELECT%%><%%VALUE(VcrNoIde)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrCel-<%%VALUE(VcrId)%%>" class="natural-VcrCel text-right"><%%SELECT%%><%%VALUE(VcrCel)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrCorEle-<%%VALUE(VcrId)%%>" class="natural-VcrCorEle"><%%SELECT%%><%%VALUE(VcrCorEle)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdMot-<%%VALUE(VcrId)%%>" class="natural-VcrIdMot"><%%SELECT%%><%%VALUE(VcrIdMot)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrRadSol-<%%VALUE(VcrId)%%>" class="natural-VcrRadSol"><%%SELECT%%><%%VALUE(VcrRadSol)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrFecSol-<%%VALUE(VcrId)%%>" class="natural-VcrFecSol"><%%SELECT%%><%%VALUE(VcrFecSol)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrObsDat-<%%VALUE(VcrId)%%>" class="natural-VcrObsDat"><%%SELECT%%><%%VALUE(VcrObsDat)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdUbi-<%%VALUE(VcrId)%%>" class="natural-VcrIdUbi"><%%SELECT%%><%%VALUE(VcrIdUbi)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDir-<%%VALUE(VcrId)%%>" class="natural-VcrDir"><%%SELECT%%><%%VALUE(VcrDir)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDirNom-<%%VALUE(VcrId)%%>" class="natural-VcrDirNom"><%%SELECT%%><%%VALUE(VcrDirNom)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdBarVe-<%%VALUE(VcrId)%%>" class="natural-VcrIdBarVe"><%%SELECT%%><%%VALUE(VcrIdBarVe)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdCorr-<%%VALUE(VcrId)%%>" class="natural-VcrIdCorr"><%%SELECT%%><%%VALUE(VcrIdCorr)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdCom-<%%VALUE(VcrId)%%>" class="natural-VcrIdCom"><%%SELECT%%><%%VALUE(VcrIdCom)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrLat-<%%VALUE(VcrId)%%>" class="natural-VcrLat text-right"><%%SELECT%%><%%VALUE(VcrLat)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrLon-<%%VALUE(VcrId)%%>" class="natural-VcrLon text-right"><%%SELECT%%><%%VALUE(VcrLon)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrObsUbi-<%%VALUE(VcrId)%%>" class="natural-VcrObsUbi"><%%SELECT%%><%%VALUE(VcrObsUbi)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdFen-<%%VALUE(VcrId)%%>" class="natural-VcrIdFen"><%%SELECT%%><%%VALUE(VcrIdFen)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDet-<%%VALUE(VcrId)%%>" class="natural-VcrDet"><%%SELECT%%><%%VALUE(VcrDet)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdCar-<%%VALUE(VcrId)%%>" class="natural-VcrIdCar"><%%SELECT%%><%%VALUE(VcrIdCar)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrOtr-<%%VALUE(VcrId)%%>" class="natural-VcrOtr"><%%SELECT%%><%%VALUE(VcrOtr)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDesEve-<%%VALUE(VcrId)%%>" class="natural-VcrDesEve"><%%SELECT%%><%%VALUE(VcrDesEve)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdEdi-<%%VALUE(VcrId)%%>" class="natural-VcrIdEdi"><%%SELECT%%><%%VALUE(VcrIdEdi)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrNoPis-<%%VALUE(VcrId)%%>" class="natural-VcrNoPis text-right"><%%SELECT%%><%%VALUE(VcrNoPis)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrObrCiv-<%%VALUE(VcrId)%%>" class="natural-VcrObrCiv"><%%SELECT%%><%%VALUE(VcrObrCiv)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrEstEdi-<%%VALUE(VcrId)%%>" class="natural-VcrEstEdi"><%%SELECT%%><%%VALUE(VcrEstEdi)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdAfe-<%%VALUE(VcrId)%%>" class="natural-VcrIdAfe"><%%SELECT%%><%%VALUE(VcrIdAfe)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrObsEst-<%%VALUE(VcrId)%%>" class="natural-VcrObsEst"><%%SELECT%%><%%VALUE(VcrObsEst)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDanGrav-<%%VALUE(VcrId)%%>" class="natural-VcrDanGrav"><%%SELECT%%><%%VALUE(VcrDanGrav)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAnoCon-<%%VALUE(VcrId)%%>" class="natural-VcrAnoCon"><%%SELECT%%><%%VALUE(VcrAnoCon)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdMat-<%%VALUE(VcrId)%%>" class="natural-VcrIdMat"><%%SELECT%%><%%VALUE(VcrIdMat)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdLes-<%%VALUE(VcrId)%%>" class="natural-VcrIdLes"><%%SELECT%%><%%VALUE(VcrIdLes)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAyuHum-<%%VALUE(VcrId)%%>" class="natural-VcrAyuHum"><%%SELECT%%><%%VALUE(VcrAyuHum)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrConAyu-<%%VALUE(VcrId)%%>" class="natural-VcrConAyu"><%%SELECT%%><%%VALUE(VcrConAyu)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrObs-<%%VALUE(VcrId)%%>" class="natural-VcrObs"><%%SELECT%%><%%VALUE(VcrObs)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrCapRed-<%%VALUE(VcrId)%%>" class="natural-VcrCapRed"><%%SELECT%%><%%VALUE(VcrCapRed)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdCap-<%%VALUE(VcrId)%%>" class="natural-VcrIdCap"><%%SELECT%%><%%VALUE(VcrIdCap)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrOtrCap-<%%VALUE(VcrId)%%>" class="natural-VcrOtrCap"><%%SELECT%%><%%VALUE(VcrOtrCap)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrInf0a5F-<%%VALUE(VcrId)%%>" class="natural-VcrInf0a5F text-right"><%%SELECT%%><%%VALUE(VcrInf0a5F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrInf0a5M-<%%VALUE(VcrId)%%>" class="natural-VcrInf0a5M text-right"><%%SELECT%%><%%VALUE(VcrInf0a5M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrInf5a12F-<%%VALUE(VcrId)%%>" class="natural-VcrInf5a12F text-right"><%%SELECT%%><%%VALUE(VcrInf5a12F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrInf5a12M-<%%VALUE(VcrId)%%>" class="natural-VcrInf5a12M text-right"><%%SELECT%%><%%VALUE(VcrInf5a12M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd12a18F-<%%VALUE(VcrId)%%>" class="natural-VcrAd12a18F text-right"><%%SELECT%%><%%VALUE(VcrAd12a18F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd12a18M-<%%VALUE(VcrId)%%>" class="natural-VcrAd12a18M text-right"><%%SELECT%%><%%VALUE(VcrAd12a18M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd18a28F-<%%VALUE(VcrId)%%>" class="natural-VcrAd18a28F text-right"><%%SELECT%%><%%VALUE(VcrAd18a28F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd18a28M-<%%VALUE(VcrId)%%>" class="natural-VcrAd18a28M text-right"><%%SELECT%%><%%VALUE(VcrAd18a28M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd28a60F-<%%VALUE(VcrId)%%>" class="natural-VcrAd28a60F text-right"><%%SELECT%%><%%VALUE(VcrAd28a60F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAd28a60M-<%%VALUE(VcrId)%%>" class="natural-VcrAd28a60M text-right"><%%SELECT%%><%%VALUE(VcrAd28a60M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAdMay60F-<%%VALUE(VcrId)%%>" class="natural-VcrAdMay60F text-right"><%%SELECT%%><%%VALUE(VcrAdMay60F)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAdMay60M-<%%VALUE(VcrId)%%>" class="natural-VcrAdMay60M text-right"><%%SELECT%%><%%VALUE(VcrAdMay60M)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAfr-<%%VALUE(VcrId)%%>" class="natural-VcrAfr text-right"><%%SELECT%%><%%VALUE(VcrAfr)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrPal-<%%VALUE(VcrId)%%>" class="natural-VcrPal text-right"><%%SELECT%%><%%VALUE(VcrPal)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrInd-<%%VALUE(VcrId)%%>" class="natural-VcrInd text-right"><%%SELECT%%><%%VALUE(VcrInd)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrCau-<%%VALUE(VcrId)%%>" class="natural-VcrCau text-right"><%%SELECT%%><%%VALUE(VcrCau)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrGit-<%%VALUE(VcrId)%%>" class="natural-VcrGit text-right"><%%SELECT%%><%%VALUE(VcrGit)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrMes-<%%VALUE(VcrId)%%>" class="natural-VcrMes text-right"><%%SELECT%%><%%VALUE(VcrMes)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrOtrPer-<%%VALUE(VcrId)%%>" class="natural-VcrOtrPer"><%%SELECT%%><%%VALUE(VcrOtrPer)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrPerNsNr-<%%VALUE(VcrId)%%>" class="natural-VcrPerNsNr"><%%SELECT%%><%%VALUE(VcrPerNsNr)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrTraCas-<%%VALUE(VcrId)%%>" class="natural-VcrTraCas"><%%SELECT%%><%%VALUE(VcrTraCas)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdTra1-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra1"><%%SELECT%%><%%VALUE(VcrIdTra1)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrdTra2-<%%VALUE(VcrId)%%>" class="natural-VcrdTra2"><%%SELECT%%><%%VALUE(VcrdTra2)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdTra3-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra3"><%%SELECT%%><%%VALUE(VcrIdTra3)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdTra4-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra4"><%%SELECT%%><%%VALUE(VcrIdTra4)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrRecLin-<%%VALUE(VcrId)%%>" class="natural-VcrRecLin"><%%SELECT%%><%%VALUE(VcrRecLin)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrRecLey-<%%VALUE(VcrId)%%>" class="natural-VcrRecLey"><%%SELECT%%><%%VALUE(VcrRecLey)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrRecPre-<%%VALUE(VcrId)%%>" class="natural-VcrRecPre"><%%SELECT%%><%%VALUE(VcrRecPre)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrRecAut-<%%VALUE(VcrId)%%>" class="natural-VcrRecAut"><%%SELECT%%><%%VALUE(VcrRecAut)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrDatPer-<%%VALUE(VcrId)%%>" class="natural-VcrDatPer"><%%SELECT%%><%%VALUE(VcrDatPer)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrUsoIma-<%%VALUE(VcrId)%%>" class="natural-VcrUsoIma"><%%SELECT%%><%%VALUE(VcrUsoIma)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrUsoDat-<%%VALUE(VcrId)%%>" class="natural-VcrUsoDat"><%%SELECT%%><%%VALUE(VcrUsoDat)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrAutCor-<%%VALUE(VcrId)%%>" class="natural-VcrAutCor"><%%SELECT%%><%%VALUE(VcrAutCor)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIdSerP-<%%VALUE(VcrId)%%>" class="natural-VcrIdSerP text-right"><%%SELECT%%><%%VALUE(VcrIdSerP)%%><%%ENDSELECT%%></td>
		<td id="natural-VcrIma-<%%VALUE(VcrId)%%>" class="natural-VcrIma"><a href="link.php?t=natural&f=VcrIma&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrIma)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-picture text-info"></i></a></td>
		<td id="natural-VcrVideo-<%%VALUE(VcrId)%%>" class="natural-VcrVideo"><a href="link.php?t=natural&f=VcrVideo&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrVideo)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-film text-info"></i></a></td>
		<td id="natural-VcrDoc-<%%VALUE(VcrId)%%>" class="natural-VcrDoc"><a href="link.php?t=natural&f=VcrDoc&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrDoc)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_VcrIma = '<%%VALUE(VcrIma)%%>'; if(e_VcrIma == '' || e_VcrIma == '&nbsp;') $j(/*<*/ '#natural-VcrIma-<%%VALUE(VcrId)%%>' /*>*/).html('');
			var e_VcrVideo = '<%%VALUE(VcrVideo)%%>'; if(e_VcrVideo == '' || e_VcrVideo == '&nbsp;') $j(/*<*/ '#natural-VcrVideo-<%%VALUE(VcrId)%%>' /*>*/).html('');
			var e_VcrDoc = '<%%VALUE(VcrDoc)%%>'; if(e_VcrDoc == '' || e_VcrDoc == '&nbsp;') $j(/*<*/ '#natural-VcrDoc-<%%VALUE(VcrId)%%>' /*>*/).html('');
		});</script>
