<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the natural_init() hook (in hooks/natural.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="natural-VcrId-<%%VALUE(VcrId)%%>" class="natural-VcrId text-right"><%%VALUE(VcrId)%%></td>
		<td id="natural-VcrCodForm-<%%VALUE(VcrId)%%>" class="natural-VcrCodForm"><%%VALUE(VcrCodForm)%%></td>
		<td id="natural-VcrIdSol-<%%VALUE(VcrId)%%>" class="natural-VcrIdSol"><%%VALUE(VcrIdSol)%%></td>
		<td id="natural-VcrFecVis-<%%VALUE(VcrId)%%>" class="natural-VcrFecVis"><%%VALUE(VcrFecVis)%%></td>
		<td id="natural-VcrNomAti-<%%VALUE(VcrId)%%>" class="natural-VcrNomAti"><%%VALUE(VcrNomAti)%%></td>
		<td id="natural-VcrIdTip-<%%VALUE(VcrId)%%>" class="natural-VcrIdTip"><%%VALUE(VcrIdTip)%%></td>
		<td id="natural-VcrNoIde-<%%VALUE(VcrId)%%>" class="natural-VcrNoIde"><%%VALUE(VcrNoIde)%%></td>
		<td id="natural-VcrCel-<%%VALUE(VcrId)%%>" class="natural-VcrCel text-right"><%%VALUE(VcrCel)%%></td>
		<td id="natural-VcrCorEle-<%%VALUE(VcrId)%%>" class="natural-VcrCorEle"><%%VALUE(VcrCorEle)%%></td>
		<td id="natural-VcrIdMot-<%%VALUE(VcrId)%%>" class="natural-VcrIdMot"><%%VALUE(VcrIdMot)%%></td>
		<td id="natural-VcrRadSol-<%%VALUE(VcrId)%%>" class="natural-VcrRadSol"><%%VALUE(VcrRadSol)%%></td>
		<td id="natural-VcrFecSol-<%%VALUE(VcrId)%%>" class="natural-VcrFecSol"><%%VALUE(VcrFecSol)%%></td>
		<td id="natural-VcrObsDat-<%%VALUE(VcrId)%%>" class="natural-VcrObsDat"><%%VALUE(VcrObsDat)%%></td>
		<td id="natural-VcrIdUbi-<%%VALUE(VcrId)%%>" class="natural-VcrIdUbi"><%%VALUE(VcrIdUbi)%%></td>
		<td id="natural-VcrDir-<%%VALUE(VcrId)%%>" class="natural-VcrDir"><%%VALUE(VcrDir)%%></td>
		<td id="natural-VcrDirNom-<%%VALUE(VcrId)%%>" class="natural-VcrDirNom"><%%VALUE(VcrDirNom)%%></td>
		<td id="natural-VcrIdBarVe-<%%VALUE(VcrId)%%>" class="natural-VcrIdBarVe"><%%VALUE(VcrIdBarVe)%%></td>
		<td id="natural-VcrIdCorr-<%%VALUE(VcrId)%%>" class="natural-VcrIdCorr"><%%VALUE(VcrIdCorr)%%></td>
		<td id="natural-VcrIdCom-<%%VALUE(VcrId)%%>" class="natural-VcrIdCom"><%%VALUE(VcrIdCom)%%></td>
		<td id="natural-VcrLat-<%%VALUE(VcrId)%%>" class="natural-VcrLat text-right"><%%VALUE(VcrLat)%%></td>
		<td id="natural-VcrLon-<%%VALUE(VcrId)%%>" class="natural-VcrLon text-right"><%%VALUE(VcrLon)%%></td>
		<td id="natural-VcrObsUbi-<%%VALUE(VcrId)%%>" class="natural-VcrObsUbi"><%%VALUE(VcrObsUbi)%%></td>
		<td id="natural-VcrIdFen-<%%VALUE(VcrId)%%>" class="natural-VcrIdFen"><%%VALUE(VcrIdFen)%%></td>
		<td id="natural-VcrDet-<%%VALUE(VcrId)%%>" class="natural-VcrDet"><%%VALUE(VcrDet)%%></td>
		<td id="natural-VcrIdCar-<%%VALUE(VcrId)%%>" class="natural-VcrIdCar"><%%VALUE(VcrIdCar)%%></td>
		<td id="natural-VcrOtr-<%%VALUE(VcrId)%%>" class="natural-VcrOtr"><%%VALUE(VcrOtr)%%></td>
		<td id="natural-VcrDesEve-<%%VALUE(VcrId)%%>" class="natural-VcrDesEve"><%%VALUE(VcrDesEve)%%></td>
		<td id="natural-VcrIdEdi-<%%VALUE(VcrId)%%>" class="natural-VcrIdEdi"><%%VALUE(VcrIdEdi)%%></td>
		<td id="natural-VcrNoPis-<%%VALUE(VcrId)%%>" class="natural-VcrNoPis text-right"><%%VALUE(VcrNoPis)%%></td>
		<td id="natural-VcrObrCiv-<%%VALUE(VcrId)%%>" class="natural-VcrObrCiv"><%%VALUE(VcrObrCiv)%%></td>
		<td id="natural-VcrEstEdi-<%%VALUE(VcrId)%%>" class="natural-VcrEstEdi"><%%VALUE(VcrEstEdi)%%></td>
		<td id="natural-VcrIdAfe-<%%VALUE(VcrId)%%>" class="natural-VcrIdAfe"><%%VALUE(VcrIdAfe)%%></td>
		<td id="natural-VcrObsEst-<%%VALUE(VcrId)%%>" class="natural-VcrObsEst"><%%VALUE(VcrObsEst)%%></td>
		<td id="natural-VcrDanGrav-<%%VALUE(VcrId)%%>" class="natural-VcrDanGrav"><%%VALUE(VcrDanGrav)%%></td>
		<td id="natural-VcrAnoCon-<%%VALUE(VcrId)%%>" class="natural-VcrAnoCon"><%%VALUE(VcrAnoCon)%%></td>
		<td id="natural-VcrIdMat-<%%VALUE(VcrId)%%>" class="natural-VcrIdMat"><%%VALUE(VcrIdMat)%%></td>
		<td id="natural-VcrIdLes-<%%VALUE(VcrId)%%>" class="natural-VcrIdLes"><%%VALUE(VcrIdLes)%%></td>
		<td id="natural-VcrAyuHum-<%%VALUE(VcrId)%%>" class="natural-VcrAyuHum"><%%VALUE(VcrAyuHum)%%></td>
		<td id="natural-VcrConAyu-<%%VALUE(VcrId)%%>" class="natural-VcrConAyu"><%%VALUE(VcrConAyu)%%></td>
		<td id="natural-VcrObs-<%%VALUE(VcrId)%%>" class="natural-VcrObs"><%%VALUE(VcrObs)%%></td>
		<td id="natural-VcrCapRed-<%%VALUE(VcrId)%%>" class="natural-VcrCapRed"><%%VALUE(VcrCapRed)%%></td>
		<td id="natural-VcrIdCap-<%%VALUE(VcrId)%%>" class="natural-VcrIdCap"><%%VALUE(VcrIdCap)%%></td>
		<td id="natural-VcrOtrCap-<%%VALUE(VcrId)%%>" class="natural-VcrOtrCap"><%%VALUE(VcrOtrCap)%%></td>
		<td id="natural-VcrInf0a5F-<%%VALUE(VcrId)%%>" class="natural-VcrInf0a5F text-right"><%%VALUE(VcrInf0a5F)%%></td>
		<td id="natural-VcrInf0a5M-<%%VALUE(VcrId)%%>" class="natural-VcrInf0a5M text-right"><%%VALUE(VcrInf0a5M)%%></td>
		<td id="natural-VcrInf5a12F-<%%VALUE(VcrId)%%>" class="natural-VcrInf5a12F text-right"><%%VALUE(VcrInf5a12F)%%></td>
		<td id="natural-VcrInf5a12M-<%%VALUE(VcrId)%%>" class="natural-VcrInf5a12M text-right"><%%VALUE(VcrInf5a12M)%%></td>
		<td id="natural-VcrAd12a18F-<%%VALUE(VcrId)%%>" class="natural-VcrAd12a18F text-right"><%%VALUE(VcrAd12a18F)%%></td>
		<td id="natural-VcrAd12a18M-<%%VALUE(VcrId)%%>" class="natural-VcrAd12a18M text-right"><%%VALUE(VcrAd12a18M)%%></td>
		<td id="natural-VcrAd18a28F-<%%VALUE(VcrId)%%>" class="natural-VcrAd18a28F text-right"><%%VALUE(VcrAd18a28F)%%></td>
		<td id="natural-VcrAd18a28M-<%%VALUE(VcrId)%%>" class="natural-VcrAd18a28M text-right"><%%VALUE(VcrAd18a28M)%%></td>
		<td id="natural-VcrAd28a60F-<%%VALUE(VcrId)%%>" class="natural-VcrAd28a60F text-right"><%%VALUE(VcrAd28a60F)%%></td>
		<td id="natural-VcrAd28a60M-<%%VALUE(VcrId)%%>" class="natural-VcrAd28a60M text-right"><%%VALUE(VcrAd28a60M)%%></td>
		<td id="natural-VcrAdMay60F-<%%VALUE(VcrId)%%>" class="natural-VcrAdMay60F text-right"><%%VALUE(VcrAdMay60F)%%></td>
		<td id="natural-VcrAdMay60M-<%%VALUE(VcrId)%%>" class="natural-VcrAdMay60M text-right"><%%VALUE(VcrAdMay60M)%%></td>
		<td id="natural-VcrAfr-<%%VALUE(VcrId)%%>" class="natural-VcrAfr text-right"><%%VALUE(VcrAfr)%%></td>
		<td id="natural-VcrPal-<%%VALUE(VcrId)%%>" class="natural-VcrPal text-right"><%%VALUE(VcrPal)%%></td>
		<td id="natural-VcrInd-<%%VALUE(VcrId)%%>" class="natural-VcrInd text-right"><%%VALUE(VcrInd)%%></td>
		<td id="natural-VcrCau-<%%VALUE(VcrId)%%>" class="natural-VcrCau text-right"><%%VALUE(VcrCau)%%></td>
		<td id="natural-VcrGit-<%%VALUE(VcrId)%%>" class="natural-VcrGit text-right"><%%VALUE(VcrGit)%%></td>
		<td id="natural-VcrMes-<%%VALUE(VcrId)%%>" class="natural-VcrMes text-right"><%%VALUE(VcrMes)%%></td>
		<td id="natural-VcrOtrPer-<%%VALUE(VcrId)%%>" class="natural-VcrOtrPer"><%%VALUE(VcrOtrPer)%%></td>
		<td id="natural-VcrPerNsNr-<%%VALUE(VcrId)%%>" class="natural-VcrPerNsNr"><%%VALUE(VcrPerNsNr)%%></td>
		<td id="natural-VcrTraCas-<%%VALUE(VcrId)%%>" class="natural-VcrTraCas"><%%VALUE(VcrTraCas)%%></td>
		<td id="natural-VcrIdTra1-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra1"><%%VALUE(VcrIdTra1)%%></td>
		<td id="natural-VcrdTra2-<%%VALUE(VcrId)%%>" class="natural-VcrdTra2"><%%VALUE(VcrdTra2)%%></td>
		<td id="natural-VcrIdTra3-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra3"><%%VALUE(VcrIdTra3)%%></td>
		<td id="natural-VcrIdTra4-<%%VALUE(VcrId)%%>" class="natural-VcrIdTra4"><%%VALUE(VcrIdTra4)%%></td>
		<td id="natural-VcrRecLin-<%%VALUE(VcrId)%%>" class="natural-VcrRecLin"><%%VALUE(VcrRecLin)%%></td>
		<td id="natural-VcrRecLey-<%%VALUE(VcrId)%%>" class="natural-VcrRecLey"><%%VALUE(VcrRecLey)%%></td>
		<td id="natural-VcrRecPre-<%%VALUE(VcrId)%%>" class="natural-VcrRecPre"><%%VALUE(VcrRecPre)%%></td>
		<td id="natural-VcrRecAut-<%%VALUE(VcrId)%%>" class="natural-VcrRecAut"><%%VALUE(VcrRecAut)%%></td>
		<td id="natural-VcrDatPer-<%%VALUE(VcrId)%%>" class="natural-VcrDatPer"><%%VALUE(VcrDatPer)%%></td>
		<td id="natural-VcrUsoIma-<%%VALUE(VcrId)%%>" class="natural-VcrUsoIma"><%%VALUE(VcrUsoIma)%%></td>
		<td id="natural-VcrUsoDat-<%%VALUE(VcrId)%%>" class="natural-VcrUsoDat"><%%VALUE(VcrUsoDat)%%></td>
		<td id="natural-VcrAutCor-<%%VALUE(VcrId)%%>" class="natural-VcrAutCor"><%%VALUE(VcrAutCor)%%></td>
		<td id="natural-VcrIdSerP-<%%VALUE(VcrId)%%>" class="natural-VcrIdSerP text-right"><%%VALUE(VcrIdSerP)%%></td>
		<td id="natural-VcrIma-<%%VALUE(VcrId)%%>" class="natural-VcrIma"><a href="link.php?t=natural&f=VcrIma&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrIma)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-picture text-info"></i></a></td>
		<td id="natural-VcrVideo-<%%VALUE(VcrId)%%>" class="natural-VcrVideo"><a href="link.php?t=natural&f=VcrVideo&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrVideo)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-film text-info"></i></a></td>
		<td id="natural-VcrDoc-<%%VALUE(VcrId)%%>" class="natural-VcrDoc"><a href="link.php?t=natural&f=VcrDoc&i=<%%VALUE(VcrId)%%>" target="_blank" title="<%%VALUE(VcrDoc)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_VcrIma = '<%%VALUE(VcrIma)%%>'; if(e_VcrIma == '' || e_VcrIma == '&nbsp;') $j(/*<*/ '#natural-VcrIma-<%%VALUE(VcrId)%%>' /*>*/).html('');
			var e_VcrVideo = '<%%VALUE(VcrVideo)%%>'; if(e_VcrVideo == '' || e_VcrVideo == '&nbsp;') $j(/*<*/ '#natural-VcrVideo-<%%VALUE(VcrId)%%>' /*>*/).html('');
			var e_VcrDoc = '<%%VALUE(VcrDoc)%%>'; if(e_VcrDoc == '' || e_VcrDoc == '&nbsp;') $j(/*<*/ '#natural-VcrDoc-<%%VALUE(VcrId)%%>' /*>*/).html('');
		});</script>
